.first-color {
	background-color: @other;
}
.hov-hi:hover {
	border-color: #322400;
}

.hov-hi {
	border-color: darken(#CEC6C0, 10%);//#0088CC;
}

.other2-color {
	background-color: @other2;
}

.fixed-top {
	position: fixed;
	top: 0px;
	z-index: 100;
}

.bottom-padding{
	height: 60px;
	margin-top: -30px;
	background-color: @bdColor;
	z-index: 2;
	position: relative;
}